@model Seyahet_Bloq_Proyekt.Models.Sinifler.BloqYorum

<div class="content-form">
    <h3>Leave a comment</h3>
    <form method="post">
        <input type="text" placeholder="ID" name="BloqID" value="@ViewBag.ID" style="display: none;" required />
        <input type="text" placeholder="Istifadeci Adi" name="IstifadeciAdi" required />
        <input type="text" placeholder="E-poct unvani" name="Mail" required />
        <textarea placeholder="Yorum" name="Yorum"></textarea>
        <input type="submit" value="Gonder" />
    </form>
</div>